*{margin:0;padding: 0;box-sizing: border-box;}
body{background-color: #000; color:aliceblue}


.aboutUs{color:#000!important;}
.aboutUs .insideAbout{display:flex;justify-content: center;}
.aboutUs .insideAbout img{padding: 15px;margin-left:auto;margin-right: auto;width: 65%;}
.aboutUs h3{text-decoration: underline #000;text-align: center;padding: 7px;text-transform: uppercase;}

.txtCabeza{color:#000!important;}
.txtCabeza p{padding:5px; margin:15px;text-align: justify;}
.txtCabeza h3{padding:5px; margin:8px;text-align: justify;}

.form-group{padding: 20px;margin:auto;width: 100%;}
.form-group input{padding: 10px;margin:auto;width: 45%;}