*{margin:0;padding: 0;box-sizing: border-box;}
body{background-color: #000; color:aliceblue}
/* Barra de menu */
nav{display: flex;justify-content: space-around;padding: 15px;}
nav a{color: #469cc4!important; text-decoration: none;font-size:1.5rem}
nav a:hover{font-size:1.4rem;color:#006A1F;}

/* Barra de menu y cuerpo */
nav,.cuerpo{max-width: 65vw;border:1px solid #fff;margin: 5px auto;padding: 25px;background-color: #fff;}


.logo{display: flex;justify-content: center;}
.logo img{margin: 10px auto;}
.txtCabeza{color:#006A1F!important;padding: 50px;color:#000;}

.txtCabeza h2{text-align: center;padding: 10px;margin: 5px}
.txtCabeza p{font-size: 1.2rem;margin:10px 2.5px;text-align: justify;}